/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared style */
.container {
    max-width: 1140px;
    width: 102%;
    margin: 0 auto;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    padding: 18px 35px;
    font-size: 20px;
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
}

.section-head {
    text-align: center;
    max-width: 827px;
    margin: 0 auto;
}

/* Header section */

/* Nav bar section */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 45px;
    font-weight: 900;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 51px;

}

nav ul a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

/* Banner section */

#banner {
    /* border: 1px solid rebeccapurple; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#banner .banner-content {
    max-width: 585px;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .banner-image img {
    max-width: 585px;
    /* width: 100%; */
    vertical-align: middle;
}

/* About Me Section */
#about {
    padding-top: 130px;
}

#about .about-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 131px 156px;
    background-color: #FFF8F3;
    text-align: center;
}

#about .about-container .about-section {
    text-align: center;
    max-width: 827px;
    margin: 0 auto;
}

#about .about-container .about-section h2 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;

}

#about .about-container .about-section p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

#about .about-container .about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 5px;
}

#about .about-container .about-info .info-card h4 {
    font-size: 20px;
    line-height: 30px;
}

/* What I Do section */
#skills {
    padding-top: 130px;
    
}

#skills .skills-container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.section-head h3
{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.section-head p
{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 50px;
}
.skills-box
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}
.skills-box .skills-card
{
    max-width: 267px;
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
}
.skills-card img
{
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h4
{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
    
}
.skills-card p
{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    max-width: 204px;
}
/* Resume secton */
#resume
{
    padding-top: 130px;

}
.section-head h2
{
    font-size: 35px;
    color: #181818;
}
.resume-container
{
    max-width: 1140px;
    margin: 114px auto 0px;
    display: flex;
    gap: 24px;
}
.section-title
{
    font-size: 30px;
    color: #474747;
}
.resume-card
{
    max-width: 511px;
    margin-right: 71px;
}
.resume-card .card-title
{
    margin-bottom: 10px;
    font-size: 25px;
    color: #474747;
    margin-top: 30px;
}
.resume-card .card-info
{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card .card-text
{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-container hr
{
    margin:30px 0px;
}
.center
{
    text-align: center;
    margin-top: 50px;
}

/* footer section */
footer
{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0px;
}
.footer-container
{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap:117px;
   
}
.social
{
    max-width:562px;
}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 21px;
}
.footer-container p
{
    
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}
.footer-container .icon a img
{
    margin-right: 24px;
}
.footer-container input[type="text"],textarea
{
    width: 461px;
    color: #757575;
    padding: 18px 30px;
    margin-bottom:24px ;
    border: none;
    border-radius: 5px;
}

