/* Global */
*
{
    margin:0;
    padding: 0;
}

/* Font */

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared style */
.color-orange
{
    color: #FD6E0A;
}

.btn
{
    padding:18px 35px;
    font-size: 20px;
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
}

/* Nav bar section */
header
{
    background-color: #FFF8F3;
    padding-top:50px;
    max-width: 1140px;
    width:102%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    font-size: 45px;
    font-weight: 900;
}
nav ul
{
    display: flex;
    align-items: center;
    list-style-type:none ;
    gap: 51px;

}
nav ul a
{
    text-decoration:none ;
    font-size: 20px;
    color: #474747;
}